/* first div starts */

.first-div{
    color: white;
    background-color: #1a1a1a;
}


#nav{
    width: 85%;
}

.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    color: white;
}
.margin-navbar{
    margin-top: 10px;
}
.nav.navbar-nav li a {
    color: greenyellow;
}
.nav.navbar-nav li a:hover {
    color:  #F5DEAA;
    border-bottom: 1px solid wheat;
}


.MOAEMCL{
    font-size: 16px;
    padding: 12px;
    font-weight: bold;
    font-family: 'Gentium Book Basic', serif;
}

.MOAEMCL:hover{
    font-family: 'Gentium Book Basic', serif;

    text-decoration: none;
}

.logo{
    width: 100px;
    height: auto;
}

.title-header{
    font-size: 50px;
    font-family: 'Manuale', serif;
    color: cyan;
}

.header-text-black{
    font-family: 'Gabriela', serif;
    font-weight: bolder;
    color: #16EFF4;
    text-shadow: 0 0 10px;
    font-size: 50px;
}

.header-text-white{
    font-family: 'Gabriela', serif;
    font-weight: bolder;
    color: white;
    text-shadow: 0 0 5px;
    font-size: 50px;
}

.small-header{
    font-size: 35px;
    font-family: 'Gabriela', serif;
    color:  #ffff99;
}

.pgraph{
    font-family: 'Merienda One', cursive;
    font-size: 18px;
    letter-spacing: 2px;
    color: white;
}

.my-skills-div{
    min-height: 600px;
    background-color: #1a1a1a;
    background-size: cover;
    background-repeat: none;
    color: white;
}

.margin-content-skills{
    margin-top: 50px;
}

.about-me-div{
    background-color:  #1a1a1a;
    min-height: 600px;

}
.yellow{
    color:  #16EFF4;
    text-shadow: 0 0 1px;
}


.content-about-me{
    margin-top: 150px;
}

.edu-links{
    color:  #16EFF4;

}

.edu-links:hover{
    color:  #16EFF4;
    text-shadow: 0 0 2px;
}

.margin-aust{
    margin-top: 180px;
}

.portfolio-div{
    min-height: 750px;
    background-image: url(../images/skills.png);
    background-repeat: none;
    background-size: cover;
}
.portfolio{
    width: 600px;
    transition: all;
    transition-duration: 1s;
}

.portfolio:hover{
    width: 600px;
    transform: scale(1.1);
}

.margin-portfolio-content{
    margin-top: 50px;
}

.experience-div{
    min-height: 500px;
    background-color: #1a1a1a;
}


.clients-div{
    min-height: 220px;
}

.content-clients-div{
    margin-top: 5px;
}

.header-text-b{
    font-family: 'Gabriela', serif;
    color: black;
    text-shadow: 0 0 5px;
    font-size: 35px;
}

.ul-header-text-b{
    padding: 0 15px 10px 15px;
    border-bottom: 4px solid black;
}

.sendMessage{
    padding: 10px 15px 10px 15px;
    background-color: #18bc9c;
    font-family: 'Merienda One', cursive;
    color: white;
}

.sendMessage:hover{
    padding: 10px 15px 10px 15px;
    background-color: #128F76;
    font-family: 'Merienda One', cursive;
    color: white;
}

.contact-me-div{
    background-color: #1a1a1a;
    min-height: 700px;
}

.content-contact-me-div{
    margin-top: 50px;
}
.padding{
    padding: 10px;
    color: 
}

.ul-header-text-black{
    padding: 0 15px 10px 15px;
    border-bottom: 5px solid #16EFF4;
}

.ul-header-text-white{
    padding: 0 15px 10px 15px;
    border-bottom: 5px solid white;
}

