/* first div starts */

.first-div{
    color: white;
    background-color: #1a1a1a;
}


#nav{
    width: 85%;
}

.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    color: white;
}
.margin-navbar{
    margin-top: 10px;
}
.nav.navbar-nav li a {
    color: greenyellow;
}
.nav.navbar-nav li a:hover {
    color:  #F5DEAA;
    border-bottom: 1px solid wheat;
}


.HAIMRR{
    font-size: 16px;
    padding: 12px;
    font-weight: bold;
    font-family: 'Gentium Book Basic', serif;
}

.HAIMRR:hover{
    font-family: 'Gentium Book Basic', serif;

    text-decoration: none;
}

.logo{
    width: 100px;
    height: auto;
}

.my-skills-div{
    min-height: 500px;
    background-color: #1a1a1a;
    color: white;
}

.margin-content-skills{
    margin-top: 50px;
}

.second-div{
    background-image: url(../images/Ahsanullah-University.jpg);
    min-height: 600px;
    background-repeat: none;
    background-size: cover;
    color: black;
    opacity: .7;
    
}

.content-second-div{
    margin-top: 50px;
}

.margin-aust{
    margin-top: 180px;
}

.portfolio-div{
    min-height: 550px;
}
.portfolio{
    width: 600px;
    transition: all;
    transition-duration: 1s;
}

.portfolio:hover{
    width: 600px;
    transform: scale(1.1);
}

.margin-portfolio-content{
    margin-top: 50px;
}

.experience-div{
    min-height: 500px;
    background-color: #1a1a1a;
}